.advanced-heading.heading-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advanced-heading.heading-button a {
  position: relative;
  border-radius: 0;
  border: 1px solid var(--black-olive);
  background-color: transparent;
  padding: 1.9rem 0 1.4rem;
  min-width: 17rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: var(--black-olive);
  font-size: 1.4rem;
  font-weight: 400;
  z-index: 2;
}

.advanced-heading.heading-button a:hover {
  color: white;
}

.advanced-heading.heading-button a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(to right, black, black);
  z-index: 1;
  transition: width 0.5s ease-in-out;
  mix-blend-mode: screen;
}

.advanced-heading.heading-button a:hover::before {
  width: 100%;
}

