header {
  position: sticky;
  top: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgb(0 0 0 / 16%);
  z-index: 1000;

  --header-font-size-m: 20px;
  --header-font-size-s: 18px;
}

/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'brand tools hamburger' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 1em;
  margin: auto;
  max-width: var(--content-width);
  height: var(--nav-height);
  padding-inline: var(--padding-inline);
  font-family: var(--body-font-family);
}

/* Hamburger Menu  - Mobile view */
header nav[aria-expanded="true"] {
  grid-template:
    'tools hamburger' var(--nav-height)
    'sections sections' / 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

header nav[aria-expanded="true"] .nav-hamburger span.icon.open,
header nav[aria-expanded="false"] .nav-hamburger span.icon.close {
  display: none;
}

header nav[aria-expanded="true"] .nav-hamburger span.icon.close,
header nav[aria-expanded="false"] .nav-hamburger span.icon.open {
  display: inline-block;
}

header nav[aria-expanded="true"] .nav-container {
 align-self: flex-start;
 grid-column: 1 / span 2;
 border-top: 3px solid rgb(112 112 112 / 50%);
}

header nav[aria-expanded="true"] .nav-container .nav-brand {
  display: none;
}

header nav[aria-expanded="true"] .nav-hamburger .icon.close {
  color: #666;
  font-size: 1.2rem;
}

header nav[aria-expanded="true"] .nav-hamburger .x-circle {
  min-width: 4rem;
  min-height: 4rem;
  border-radius: 50%;
  border: 1px solid #707070;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav[aria-expanded="true"] .nav-container .nav-sections .icon-down-arrow {
  display: none;
}

header nav .nav-sections ul > li:hover, header nav[aria-expanded="true"] .nav-sections ul li:not(.nav-drop):hover a:any-link {
  color: var(--bright-blue)
}

header nav[aria-expanded="true"] .nav-sections > div > ul > li {
  border-bottom: 1px solid rgb(112 112 112 / 20%);
}

header nav[aria-expanded="true"] .nav-sections > div > ul > li:not(:hover) {
  color: var(--black-olive);
}

header nav[aria-expanded="false"] .nav-sections ul:first-child > li:last-child, header nav[aria-expanded="false"] .nav-sections p {
  display: none;
}

header nav[aria-expanded="true"] .nav-sections p {
  margin: 3rem 0;
  color: var(--gray);
  font-size: 1.6rem;
  display: inline-block;
}

header nav .nav-sections .default-content-wrapper > ul > li > ul {
  display: none;
  position: relative;
}

header nav .nav-sections .default-content-wrapper > ul > li:hover > ul {
  display: block;
  transition: 0.3s all;
}

@media (width >= 993px) {
  header nav {
    display: flex;
    justify-content: space-between;
  }

  header nav[aria-expanded="true"] {
    grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
    overflow-y: auto;
    min-height: 100vh;
  }
}

/* stylelint-disable-next-line no-descending-specificity */
header nav p {
  margin: 0;
  line-height: 1;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav a:any-link {
  color: var(--black-olive);
  text-decoration: none;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav a:any-link:hover {
  color: unset;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger button span.icon{
  font-size: var(--header-font-size-m);
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 993px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
/* stylelint-disable-next-line no-descending-specificity */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: auto;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  font-size: var(--header-font-size-m);
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav .nav-sections ul, header nav .nav-tools ul  {
  list-style: none;
  padding-left: 0;
  font-weight: 500;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav .nav-sections ul > li {
  font-weight: 600;
  padding-block: 1rem;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav .nav-sections ul > li > ul > li {
  font-weight: 300;
  padding: 1rem;
}

@media (width >= 993px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop > .icon {
    position: absolute;
    transform: rotate(0deg) translate(0, -10%);
    transition: 0.3s all;
    height: 20px;
    width: 20px;
    font-size: var(--heading-font-size-m);
  }

  header nav .nav-sections .nav-drop:hover > .icon {
    position: absolute;
    transform: rotate(180deg) translate(0%, -40%);
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: .5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 2rem;
    margin: 0;
    justify-content: flex-end;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 1rem;
    font-weight: 600;
    font-size: var(--header-font-size-s);
    color: var(--dark-gunmetal);
    border-bottom: 1px solid rgb(112 112 112 / 20%);
  }

  header nav .nav-sections .default-content-wrapper > ul > li:first-child {
    font-weight: 600;
    color: var(--black-olive);
  }

  header nav .nav-sections .default-content-wrapper > ul li:hover, header nav .nav-tools .default-content-wrapper > ul > li:hover {
    color: var(--bright-blue);
  }

  header nav .nav-sections .default-content-wrapper > ul > li[role="button"] {
    font-weight: 600;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
    position: absolute;
    min-width: 27rem;
    padding: 0 1.5rem;
    background-color: var(--background-color);
    white-space: initial;
    z-index: 10;
  }

  /* This element is not visible but it is used to increase the Dropdown width & height so that hover can be applied to the entire dropdown */
  header nav .nav-sections .default-content-wrapper > ul > li > ul > li::after {
    content: '';
    position: absolute;
    inset: -20% -20% 0 -10%;
    width: 50%;
    height: 130%;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav .nav-sections .default-content-wrapper > ul > li:hover > ul > li:hover {
    color: var(--dark-gunmetal);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li .icon-down-arrow {
    color: var(--gray);
    transform: rotate(-90deg);
    font-size: var(--heading-font-size-s);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li:hover .icon-down-arrow {
    color: var(--charleston-green);
    transform: translate(30%) rotate(-90deg);
    transition: 0.2s all;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  font-size: var(--header-font-size-s);
}

header nav .nav-tools .icon img {
  width: auto;
  height: auto;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav .nav-tools ul {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav .nav-tools ul li {
  cursor: pointer;
  display: none;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav .nav-tools ul li:has(span.icon-share) {
  transform: translate(0, 3px);
}

/* stylelint-disable-next-line no-descending-specificity */
header nav[aria-expanded="true"] .nav-tools ul li:has(span.icon-share) {
  display: block;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav[aria-expanded="false"] .nav-tools ul li:has(span.icon-search) {
  display: block;
}

.section.nav-tools ul > li a[title='Sign in'] {
  color: var(--bright-blue);
  white-space: nowrap;
}

/* Nav Container */
/* stylelint-disable-next-line no-descending-specificity */
header nav .nav-container {
  flex-direction: column;
}

@media (width >= 993px) {
    header nav .nav-tools ul li {
        display: block;
    }

  header nav .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 128px);
  }

  header nav .nav-tools {
    right: 0;
    grid-area: tools;
    position: absolute;
    padding-right: 1rem;
    font-size: var(--header-font-size-s);
  }

  header nav .nav-sections ul > li {
    font-weight: 700;
  }
}

@media (width >= 1451px) {
  header nav .nav-container {
    width: 100%;
  }
}

@media (width >= 1601px) {
  header nav .nav-sections ul {
    gap: 6rem;
  }

  header nav .nav-tools ul {
    gap: 4rem;
  }

  header nav .nav-sections .nav-drop > .icon {
    height: 24px;
    width: 24px;
  }
}
