.subscription * {
  display: block;
}

.subscription .container-fluid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.subscription a {
  text-decoration: none;
  cursor: pointer;
}

.block.subscription .box:hover .header-icons {
  transform: translateY(-1.5rem);
  transition: all 0.5s ease;
}

.block.subscription .popup {
  display: none;
  height: 100%;
}

.block.subscription a {
  height: 100%;
}

main .section.full-width .subscription-wrapper {
  max-width: 100%;
}

.block.subscription .box {
  padding: 6rem 2rem;
  color: var(--background-color);
  border-right: 0.1rem solid var(--background-color);
  height: 100%;
  background-color: var(--subscription-bg-brown-color);
  border-bottom: 0.1rem solid var(--background-color);
  width: 100%;
}

.subscription .columns {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  background-color: var(--subscription-bg-brown-color);
}

.block.subscription .box span {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  margin: 1rem auto;
}

.block.subscription .popup p {
  display: flex;
  height: 100%;
  color: var(--background-color);
  flex-direction: column;
  padding: 3rem;
  justify-content: center;
  text-align: left;
  background-color: var(--subscription-bg-topaz-color);
  margin: 0;
}

@keyframes open-3d {
  0% {
    transform: perspective(50px) rotateX(5deg);
    transform-origin: bottom;
    opacity: 0;
  }

  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.block.subscription .popup.show {
  display: block;
  animation: open-3d 1s ease;
}

.block.subscription .popup ul li {
  list-style-type: none;
  padding: 1.1rem 0;
  border-top: 0.1rem solid var(--grey-color);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.block.subscription .popup ul li a {
  color: var(--background-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-xs);
  font-weight: var(--font-weight-small);
  transform: translateX(0);
  transition: all 0.5s ease;
}

.block.subscription .popup ul li a:hover {
  transform: translateX(1rem);
  transition: all 0.3s ease;
}

.block.subscription .popup ul li:first-child {
  border-top: 0 solid var(--grey-color);
}

.block.subscription .box span.header-icons {
  font-size: 3rem;
  transform: translateY(0);
  transition: all 0.5s ease;
}

.block.subscription .popup h3 {
  margin: 1rem 0;
  font-family: var(--body-font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--body-font-size-s);
}

.block.subscription .popup ul li span[class*='icon-'] {
  display: flex;
  align-items: center;
  color: var(--background-color);
  font-size: var(--body-font-size-xs);
}

.input-txt input {
  width: 100%;
  font-size: var(--body-font-size-xs);
  font-family: inherit;
  line-height: inherit;
  padding: 0.1rem 0.2rem;
}

.block.subscription .popup ul {
  height: 100%;
  padding: 1rem;
  transform: translateY(0);
  margin: 0;
  background-color: var(--subscription-bg-topaz-color);
}

.block.subscription .popup .error-msg h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: 0;
  font-size: var(--body-font-size-xxs);
  font-family: var(--body-font-family);
  font-weight: var(--font-weight-small);
}

.block.subscription .popup .thankyousub h4 {
  font-size: 1.44rem;
  font-weight: var(--font-weight-regular);
  font-family: var(--body-font-family);
}

.block.subscription .popup ul li a [class*='icon-'] {
  color: #fff;
  font-size: var(--body-font-size-xs);
}

.block.subscription .thankyousub {
  padding: 2.5rem;
}

.block.subscription .submit-btn button {
  color: var(--background-color);
  background: transparent;
  font-size: var(--body-font-size-xxs);
  font-weight: 400;
  border: 0.2rem solid var(--btn-border-color);
  border-radius: 0;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  margin-bottom: 0.8rem;
}


@media(width >=481px) {
  .block.subscription .columns {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media(width >=768px) {
  .block.subscription .columns {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .block.subscription .popup ul li {
    padding: 1.3rem 0;
  }

  .block.subscription .popup ul {
    padding: 0 2.5rem;
  }
}

@media(width >=993px) {
  .block.subscription .popup h3 {
    font-size: var(--body-font-size-s);
  }
}

@media(width >=1025px) {
  .block.subscription .popup h3 {
    font-size: 1.92rem;
  }

  .block.subscription .box {
    padding: 6rem;
  }

}

@media(width >=1601px) {
  .block.subscription .popup h3 {
    font-size: var(--body-font-size-xl);
  }

  .block.subscription .popup .thankyousub h4 {
    font-size: var(--body-font-size-s);
  }
}
