.carousel-container .default-content-wrapper h2 {
  margin: 0 0 1.8rem;
  font-weight: 500;
  font-size: 4.14rem;
  color: #3f3f3f;
  border-bottom: 1px solid #a9aeb1;
}

.carousel-wrapper {
  padding: 0 0 6.87rem;
}

.carousel .inner-container {
  display: flex;
  flex-direction: column;
}

.carousel .inner-container > .carousel-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1.8rem 0;
  border-bottom: 1px solid #a9aeb1;
}

.carousel .inner-container > .carousel-item:first-child {
  padding: 0 0 1.89rem;
}

.carousel .card-body {
  display: none;
}

.carousel .card-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.carousel .carousel-item .card-image {
  max-width: 100%;
  margin-right: 0;
  overflow: hidden;
}

.carousel .carousel-item .card-image img {
  transition: .5s ease-in-out;
}

.carousel .carousel-item .card-image:hover img {
  transform: scale(1.05);
}

.carousel .carousel-item h5 {
  font-size: 1.26rem;
  font-family: var(--body-font-family);
  font-weight: 600;
  color: #3f3f3f;
  margin: 1.71rem 0 0.99rem;
}

.carousel .inner-container > .carousel-item:first-child h5 {
  font-size: 1.62rem;
}

.carousel .carousel-item a:not(:has(img)) {
  font-size: 1.44rem;
  font-family: var(--body-font-family);
  font-weight: 600;
  overflow-wrap: break-word;
  color: #3f3f3f;
  margin-bottom: 0.9rem;
}

.carousel .inner-container > .carousel-item:first-child a:not(:has(img)) {
  font-size: 1.62rem;
  font-weight: 600;
}

.carousel .carousel-dots {
  display: none;
}

@media(width >=376px) {
  .carousel .inner-container .carousel-item:not(:first-of-type) {
    flex-direction: row;
  }

  .carousel .carousel-item:nth-child(n+2) .card-image {
    max-width: 16.74rem;
    margin-right: 1.8rem;
  }

  .carousel .inner-container > .carousel-item:not(:first-child) h5 {
    margin: 0.9rem 0 0.45rem;
  }
}

@media(width >=576px) {
  .carousel .carousel-item:nth-child(n+2) .card-image {
    max-width: 27rem;
  }

  .carousel .inner-container > .carousel-item:not(:first-child) h5 {
    margin: 2.61rem 0 1.8rem;
  }
}

@media(width >=768px) {
  .carousel-container .default-content-wrapper h2 {
    font-size: 6.3rem;
    margin-bottom: 3.87rem;
    border-bottom: none;
    line-height: 1;
  }

  .carousel .sliding-container {
    overflow: hidden;
    margin-bottom: 6.87rem;
  }

  .carousel .inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out;
  }

  .carousel .carousel-item {
    flex: 0 0 calc(50% - 28px);
    margin: 0 2.7rem 0 0.1rem;
    flex-direction: column;
  }

  .carousel .inner-container > .carousel-item {
    border-bottom: none;
  }

  .carousel .carousel-item:nth-child(n+2) {
    padding: 0;
  }

  .carousel .inner-container > .carousel-item:first-child {
    padding: 0;
  }

  .carousel .inner-container .carousel-item:not(:first-of-type) {
    flex-direction: column;
  }

  .carousel .carousel-item:nth-child(n+2) .card-image {
    max-width: 100%;
    margin-right: 0;
  }

  .carousel .carousel-item h5 {
    margin: 2.61rem 0 1.8rem;
    line-height: 1;
  }

  .carousel .inner-container > .carousel-item:not(:first-child) h5 {
    font-size: 1.62rem;
  }

  .carousel .carousel-item a:not(:has(img)) {
    font-size: 2.16rem;
    margin-bottom: 1.8rem;
    line-height: 1;
  }

  .carousel .inner-container > .carousel-item:first-child a:not(:has(img)) {
    font-size: 2.16rem;
  }

  .carousel .card-body {
    display: block;
  }

  .carousel .carousel-item p {
    font-family: var(--body-font-family);
    font-size: 1.62rem;
    font-weight: 300;
    margin: 0 0 3.6rem;
    overflow-wrap: break-word;
    color: #3d4551;
  }

  .carousel .carousel-item span {
    font-family: var(--body-font-family);
    font-weight: 400;
    font-size: 1.62rem;
    color: #3f3f3f;
    padding-left: 0.9rem;
    line-height: 1;
  }

  .carousel .carousel-dots {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .carousel .carousel-dots span[class*='icon-'] {
    font-size: 1.98rem;
    opacity: 0.25;
    line-height: 1;
    cursor: pointer;
  }

  .carousel .carousel-dots span[class*='icon-prev'] {
    margin-right: 4rem;
  }

  .carousel .carousel-dots .icon-prev::before {
    display: inline-block;
    transform: rotateZ(180deg);
  }

  .carousel .carousel-dots span[class*='icon-next'] {
    margin-left: 4rem;
  }

  .carousel .carousel-dot {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 1rem;
    background-color: #dfe1e2;
    border-radius: 50%;
    cursor: pointer;
  }

  .carousel .carousel-dot.active {
    background-color: #239de0;
  }
}

@media (width >=992px) {
  .carousel-container .default-content-wrapper h2 {
    font-size: 5.6rem;
    margin-bottom: 3.44rem;
  }

  .carousel .inner-container > .carousel-item:first-child h5 {
    font-size: 1.44rem;
    margin: 2.32rem 0 1.6rem;
  }

  .carousel .inner-container > .carousel-item:not(:first-child) h5 {
    font-size: 1.44rem;
    margin: 2.32rem 0 1.6rem;
  }

  .carousel .carousel-item a:not(:has(img)) {
    font-size: 1.92rem;
    margin-bottom: 1.6rem;
  }

  .carousel .inner-container > .carousel-item:first-child a:not(:has(img)) {
    font-size: 1.92rem;
    margin-bottom: 1.6rem;
  }

  .carousel .carousel-item p {
    font-size: 1.44rem;
    margin: 0 0 3.2rem;
  }

  .carousel .carousel-item span {
    font-size: 1.44rem;
    padding-left: 0.8rem;
  }
}

@media (width >=1200px) {
  .carousel .carousel-item {
    margin: 0 2.4rem 0 0.1rem;
    flex: 0 0 calc(33.33% - 25px);
  }
}

@media (width >=1601px) {
  .carousel-container .default-content-wrapper h2 {
    font-size: 7rem;
    margin-bottom: 4.3rem;
  }

  .carousel .inner-container > .carousel-item:first-child h5 {
    font-size: 1.8rem;
    margin: 2.9rem 0 2rem;
  }

  .carousel .inner-container > .carousel-item:not(:first-child) h5 {
    font-size: 1.8rem;
    margin: 2.9rem 0 2rem;
  }

  .carousel .carousel-item a:not(:has(img)) {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  .carousel .inner-container > .carousel-item:first-child a:not(:has(img)) {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  .carousel .carousel-item p {
    font-size: 1.8rem;
    margin: 0 0 4rem;
  }

  .carousel .carousel-item span {
    font-size: 1.8rem;
    padding-left: 1rem;
  }
}