/*
* Disclaimer: This block is copied from the AEM Block Collection.
* https://github.com/adobe/aem-block-collection/tree/main/blocks/modal
*/
body.modal-open {
    overflow: hidden;
}

.modal dialog.full-width {
    padding: 0;
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    border: none;
}

.modal dialog:not(.full-width) {
    --dialog-border-radius: 16px;

    overscroll-behavior: none;
    border: 1px solid #ccc;
    border-radius: var(--dialog-border-radius);
    width: 100vw;
}

.modal dialog .modal-content {
    overflow-y: auto;
    overscroll-behavior: none;
    max-height: calc(100dvh - 60px);
}

@media (width >= 600px) {
    .modal dialog:not(.full-width) {
        padding: 30px;
        width: 80vw;
        max-width: 700px;
    }

    .modal dialog .modal-content {
        max-height: calc(100vh - 90px);
    }
}

.modal dialog::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

.modal .close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    max-height: 54px;
    border-radius: 0 var(--dialog-border-radius) 0 0;
    background-color: unset;
    text-overflow: clip;
    margin: 0;
    border: none;
    padding-right: 30px;
}

.modal dialog .section {
    padding: 0;
}
