/*
 * Copyright 2024 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

[class*=" icon-"],
[class^="icon-"] {
  font-family: icomoon, var(--body-font-family);
  font-size: var(--heading-font-size-l);
  font-weight: 400;
  width: auto;
  height: auto;
}

.icon-search::before {
  content: "";
}

.icon-connect::before {
  content: "";
}

.icon-request-expert::before {
  content: "";
}

.icon-insights::before {
  content: "";
}

.icon-podcasts::before {
  content: "";
}

.icon-apple::before {
  content: "";
}

.icon-google::before {
  content: "";
}

.icon-spotify::before {
  content: "";
  color: var(--light-green-color);
}

.icon-sound-cloud::before {
  content: "";
}

.icon-down-arrow::before {
  content: "";
}

.icon-facebook::before {
  content: "";
}

.icon-twitter::before {
  content: "";
}

.icon-linked-in::before {
  content: "";
}

.icon-chain::before {
  content: "";
}

.icon-bx-menu-alt-right::before {
  content: "";
}

.icon-bx-x::before {
  content: "";
}

.icon-popup-cross::before {
  content: "";
}

.icon-prev::before {
  content: "\e927";
}

.icon-next::before {
  content: "\e927";
}

.icon-slick-arrow::before {
  content: "";
}

.icon-right-angle::before {
  content: "";
}

.icon-long-right-arrow::before {
  content: "";
}

.icon-long-left-arrow::before {
  content: "";
}