/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-bg-color: #63b0ff;
  --link-hover-color: #136ff6;
  --background-color: white;
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color: black;
  --black-olive: #3f3f3f;
  --bright-blue: #007cc3;
  --dark-denim: #00578A;
  --off-white: #dfe1e2;
  --footer-grey-text-color:#3f3f3f;
  --scrollbar-thumb-color:#ffffff4d;
  --scrollbar-shadow-color:#0000004D;
  --scrollbar-thumb-shadow-color:#0000007F;
  --footer-links-bg-color: #f8f8f8;
  --footer-links-link-color: #3f3f3f;
  --country-dropdown-grey-color: #7e7e7e;
  --grey-color: #e1e1e180;
  --subscription-bg-brown-color: #ab6604;
  --subscription-bg-topaz-color: #2f1113;
  --light-green-color: #1ed760;
  --btn-border-color: #df9926;
  --body-font-color: var(--black-olive);
  --button-bg-color: #0271b1;
  --button-font-color: white;
  --silver: #a9aeb1;
  --charleston-green: #282828;
  --gray: #808080;
  --dark-gunmetal: #212529;
  --navy-blue: #0c1220;
  --light-sky-blue: #d5eff9;
  --grey: #999;
  --grey-light: #f5f6f7;
  --orange: #f16c51;
  --grey-lighter: #707070;

  /* fonts */
  --body-font-family: myriad-pro, arial;
  --heading-font-family: tungstenw05-medium, oswald, sans-serif;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-xl: 24px;
  --body-font-size-l: 22px;
  --body-font-size-m: 20px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;
  --body-font-size-xxs: 14px;

 /* Font Weight */
 --font-weight-small: 300;
 --font-weight-regular: 400;
 --font-weight-medium: 500;
 --font-weight-semibold: 600;
 --font-weight-bold: 700;
 --font-weight-bolder: 800;
 --font-weight-boldest: 900;

  /* heading sizes */
  --base-font-size: 8px;
  --heading-font-size-xxl: calc(4.6 * var(--base-font-size)); /* 36.8px */
  --heading-font-size-xl: calc(3.6 * var(--base-font-size)); /* 28.8px */
  --heading-font-size-l: calc(3 * var(--base-font-size)); /* 24px */
  --heading-font-size-m: calc(2.4 * var(--base-font-size)); /* 19.2px */
  --heading-font-size-s: calc(1.8 * var(--base-font-size)); /* 14.4px */
  --heading-font-size-xs: calc(1.2 * var(--base-font-size)); /* 9.6px */

  /* nav height */
  --nav-height: 84px;

  /* content width */
  --content-width: 1170px;
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@media (width >= 376px) {
  :root {
    --heading-font-size-xxl: calc(5.6 * var(--base-font-size));
    --heading-font-size-xl: calc(4.6 * var(--base-font-size));
  }
}

@media (width >= 768px) {
  :root {
    --heading-font-size-xxl: calc(8 * var(--base-font-size));
    --heading-font-size-xl: calc(7 * var(--base-font-size));
  }
}

@media (width >= 992px) {
  :root {
    --base-font-size: 9px;
    --heading-font-size-xxl: calc(8 * var(--base-font-size));
    --heading-font-size-xl: calc(7 * var(--base-font-size));
    --heading-font-size-l: calc(3 * var(--base-font-size));
    --heading-font-size-m: calc(2.4 * var(--base-font-size));
    --heading-font-size-s: calc(1.8 * var(--base-font-size));
    --heading-font-size-xs: calc(1.35 * var(--base-font-size));
  }
}

@media (width >= 1601px) {
  :root {
    --base-font-size: 10px;
    --heading-font-size-xxl: calc(8 * var(--base-font-size));
    --heading-font-size-xl: calc(7 * var(--base-font-size));
    --heading-font-size-l: calc(3 * var(--base-font-size));
    --heading-font-size-m: calc(2.4 * var(--base-font-size));
    --heading-font-size-s: calc(1.8 * var(--base-font-size));
    --heading-font-size-xs: calc(1.2 * var(--base-font-size));
  }
}

*, *::before, *::after { box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.45;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }


p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}


code, pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* section - full-width */
main .section.full-width > .section-container{
  max-width: 100%;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

main .section.small-header h1 {
  font-size: var(--body-font-size-xl);
  font-family: var(--body-font-family);
  font-weight: 400;
  color: var(--off-white);
  padding: 1.6rem 0;
}

main .section.black-background {
  margin: 0;
  background-color: black;
}

main .section.no-margin,
main .section.no-margin h1:first-of-type,
main .section.no-margin h2:first-of-type {
  margin: 0;
}

/* sections */
main .section:not(.no-top-padding) {
  padding-top: 64px;
}

main .section > div > div.full-width, main .section > div:has(div.full-width) {
  max-width: 100%;
}

main .section:not(.no-inline-padding) > div:not(:has(.full-width)) {
  padding-inline: 20px;
}

main .scroll-to-top {
  display: none;
}

@media (width >= 992px) {
  main .scroll-to-top {
    position: fixed;
    right: 5%;
    bottom: 20rem;
    z-index: 1;
    transition: all 0.5s;
    transform: rotate(180deg);
    width: 6.2rem;
    height: 6.2rem;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -8px 16px rgb(0 0 0 / 16%);
    color: #000;
  }

  main .scroll-to-top .icon-right-angle {
    transform: rotate(90deg);
    font-size: 2.4rem;
  }

 main .scroll-to-top:hover {
    background: var(--charleston-green);
    transition: all 0.2s ease;
  }

  main .scroll-to-top:hover .icon-right-angle {
    color: white;
  }
}

@media (width > 1210px) {  
  main .scroll-to-top {
    width: 7rem;
    height: 7rem;
  }

  main .scroll-to-top .icon-right-angle {
    font-size: 3rem;
  }
  
  .section > div, .section > div > div {
    max-width: var(--content-width);
    margin: auto;
  }

  .section > div:has(div.full-width-background) {
    max-width: 100%;
    margin: auto;
  }
}

main .section.top-heading-gray > div:first-child > h2:first-of-type {
  color: var(--black-olive);
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}